<h1>Visitors</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Twitter</th>
  </tr>

<% if @users %>
	<% @users.each do |user| %>
	  <tr>
	    <td><%= user.name %></td>
	    <td><%= user.twitter %></td>
	  </tr>
 	<% end %>
<% end %>
</table>

<br />

